<!--this is used for the add study page-->
{% extends "base.html" %}

{% block content %}

<h1>Create a new study group</h1>
<!--defines the dropdown button and the content it displays and stlye right positions it on right of screen-->
<!--this is used to take input from multiple text boxes-->
<form action="#" method="post">
	<label>Ticker: 
	<input type="text" name="ticker" placeholder="ticker" size="8">
	</label>
	<br>
	<div class="dropdown">
		<button class="dropbtn" type="button">add tests</button>
		<input class ="userInputButtonStocks" type="submit" value="Submit">
		<div class="dropdown-content">
			{% for test in tests %}
			<div class='dropdown-subcontent-{{ loop.index }}'>
				<input class="dropdown-checkbox" type="checkbox" name="checkbox-{{ loop.index }}" value="0">
				{{ test.name }}
				</input>
				<div class="testinputs-{{ loop.index }}">
					{% set outer_loop = loop %}
					{% for test_name in test_names %}
					<div class="input-{{ loop.index }}-{{ outer_loop.index }}">
						{% if loop.index == 1 and test.input_name_1 %}
						<label for="input-{{ loop.index }}-{{ outer_loop.index }}">{{ test.input_name_1 }}: 
						<select id="input-{{ loop.index }}-{{ outer_loop.index }}"
						name="input-{{ loop.index }}-{{ outer_loop.index }}">
						<option value="d">d</option>
						<option value="w">w</option>
						<option value="m">m</option>
						<option value="y">y</option>
						</select>
						</label>
						{% elif loop.index == 2 and test.input_name_2 %}
						<label for="input-{{ loop.index }}-{{ outer_loop.index }}">{{ test.input_name_2 }}: 
						<select id="input-{{ loop.index }}-{{ outer_loop.index }}"
						name="input-{{ loop.index }}-{{ outer_loop.index }}">
						<option value=">">&gt;</option>
						<option value="<">&lt;</option>
						</select>
						</label>
						{% elif loop.index == 3 and test.input_name_3 %}
						<label for="input-{{ loop.index }}-{{ outer_loop.index }}">{{ test.input_name_3 }}: 
						<input type="text" id="input-{{ loop.index }}-{{ outer_loop.index }}"
						name="input-{{ loop.index }}-{{ outer_loop.index }}" size="3"
						placeholder="int"></input>
						</label>
						{% elif loop.index == 4 and test.input_name_4 %}
						<label for="input-{{ loop.index }}-{{ outer_loop.index }}">{{ test.input_name_4 }}: 
						<input type="text" id="input-{{ loop.index }}-{{ outer_loop.index }}"
						name="input-{{ loop.index }}-{{ outer_loop.index }}" size="3"
						placeholder="int"></input>
						</label>
						{% endif %}
					</div>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</form>

<footer>
	<p class = "homeText">
		to create a study click the add study button and pick what study you would like. You are able to pick a handful of studies to create
		a study group. Once you have selected the studies you wish pick what ticker you wish to track and click the submit button. You should
		see the stock being tracked on the home page.
	</p>
</footer>

{% endblock %}