<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8" />
        <title>I.N.V.E.S.T.</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!--used to get functionality for dropdown menu-->
		<link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">

        <script src="{{ url_for('static', filename='functions.js') }}" type="text/javascript"></script>
    {% endblock %}
</head>
<body>
    {% include "nav.html" %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div style="display: inline; background-color: red;">
    {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>
</html>