{% extends "base.html" %}

{% block content %}

<div class="box">
	<div class="center">
		<h1>Login to your account</h1>
	</div>
	<p>
		<form action="#" method="post">
		<label for="email">Email address:</label>
		<input type="text" name="email" />
		<p></p>
		<label for="password"><br>Password:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
		<input type="password" name="password" />
		<p><br><br><br></p>
		<div class="center">
			<button type="submit">Submit</button>
		</div>
		</form>
	</p>
</div>
{% endblock %}
