{% extends "base.html" %}

{% block content %}
	<p>
		<form class = "userInput" action="#" method="post">
		<h3>Login here</h3>
		<label for="email">Email</label>
        <input class ="userInputInput" type="text" placeholder="Enter email address" name="email">
		<label for="password">Password</label>
        <input class ="userInputInput" type="password" placeholder="Enter password" name="password">
		<p></p>
		<button class ="userInputButton" type="submit">Submit</button>
		</form>
	</p>
{% endblock %}
