{% extends "base.html" %}

{% block content %}
	
	<form class = "userInput" action="#" method="post">
		<h3>Create an account</h3>
		<div>
		<label for="email">Email</label>
        <input class ="userInputInput" type="text" placeholder="Enter email address" name="email">
		</div>
		<div>
		<label for="name">Name</label>
        <input class ="userInputInput" type="text" placeholder="Enter name" name="name">
		</div>
		<div>
		<label for="email">Password</label>
        <input class ="userInputInput" type="password" placeholder="Enter password" name="password">
		</div>
		<button class ="userInputButton" type="submit">Submit</button>
	</form>

{% endblock %}
