{% extends "base.html" %}

{% block content %}

    <h1>Welcome back {{ name }}!</h1>
	{% if not studies %}
	<div>You have no studies</div>
	{% else %}

	<div>
		<div class = "table-header">Your tracked stocks:</div> <!--needs to be formatted better its whatever rn-->
		<table>
		<tr>
			<th>studies</th>
			<th>qty</th>
			<th>days</th>
		</tr>
			{% for study in studies %}
			<tr>
				<td>{{ study.ticker }}</td>
				<td>{{ study.id }}</td>
				<td>{{ study.user_id }}</td>
			</tr>
			{% endfor %}
		</table>
		
	</div>

	<p class="space"> </p>

	<table>
		<tr>
			<th>studies2</th>
			<th>qty2</th>
			<th>days2</th>
		</tr>
			{% for study in studies %}
			<tr>
				<td>{{ study.ticker }}</td>
				<td>{{ study.id }}</td>
				<td>{{ study.user_id }}</td>
			</tr>
			{% endfor %}
		</table>
		
	</div>
	{% endif %}
	<a href="/add_study">New Study</a>

{% endblock %}