.dropbtn {
  background-color: #5d615f; /*color light grey*/
  border-radius 10px; /*rounds borders*/
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;} /*currently light grey*/

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when hovered over*/
.dropdown:hover .dropbtn {background-color: #555e55;}

/* Table CSS */
/*Table body formatting*/
body{
  padding-left: 20px;
  padding-right: 20px;
}

/*Overall table formatting*/
table{
  border: 1px solid #000;
  width: 100%;
  background-color: #5A5A5A;
}

/*Table directory*/

td{
  border: 1px solid #000;
  background-color: #D3D3D3;
}

/*Table heading*/

th{
  border: 1px solid #000;
  background-color: #D3D3D3;
}

/*Login template taken from https://codepen.io/fghty/pen/PojKNEG */

.userInput{
height: 520px;
width: 400px;
color: rgba(255,255,255,0.13);
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
border-radius: 10px;
backdrop-filter: blur(10px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
padding: 50px 35px;
}

/*Additonal user input format.*/

.userInput *{
font-family: 'Poppins',sans-serif;
color: #000000;
letter-spacing: 0.5px;
outline: none;
border: none;
}

/*H3 Format for in forms.*/

form h3{
font-size: 32px;
font-weight: 500;
line-height: 42px;
text-align: center;
}


/*label formatting (CHANGE IF YOU'RE USING LABEL ELSEWHERE)*/
label{
display: block;
margin-top: 30px;
font-size: 16px;
font-weight: 500;
}

/*Text input for user login area*/
.userInputInput{
display: block;
height: 50px;
width: 100%;
background-color: rgba(106, 106, 106, 0.258);
border-radius: 3px;
padding: 0 10px;
margin-top: 8px;
font-size: 14px;
font-weight: 300;
}

/*Template for buttons used in the user login area*/
.userInputButton {
margin-top: 50px;
width: 100%;
background-color: rgba(106, 106, 106, 0.258);
color: #080710;
padding: 15px 0;
font-size: 18px;
font-weight: 600;
border-radius: 5px;
cursor: pointer;
}

/*Background settings*/
body{
  background-color: #eaeaea;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}